
<o> Links of the pages available<o>
   <nav>
 <a href="/store">store</a><br>
<a href="/store/cars">Cars</a><br>
<a href="/store/tv">TV</a><br>
<a href="/store/nailpolish">Nailpolish</a><br><br><br>
</nav>
<h1>SONY TV details</h1>

<ul>
	<%  var date = new Date();%>
    <% for (var i = 0; i < sony.length; i++) { %>
        <li>Brand - <%= sony[i].name %></li>
        <li>Diagonal Length - <%= sony[i].dia %></li>
        <li>Width - <%= sony[i].width %></li> 
        <li>Price - <%= sony[i].price %></li>
        <li>Warranty Period - <%= sony[i].warr %></li>
        <li>Description - <%= sony[i].description %></li><br>
        <li>Start Date - <%= sony[i].StartDate %></li><br>
        <li>End Date - <%= sony[i].EndDate %></li><br>
        <img src="/images/TV/<%=sony[i].image %>"
        </ul>
        <%if ((sony[i].StartDate < date) && (sony[i].EndDate > date)){%>
<a href="http://localhost:8080/dbconn/Login.jsp?id=<%= sony[0]._id %>&coll=sony">BUY NOW!</a>
<% } else { %>
<a href="/store">Item Not Available</a></h2>
  
<% } %>
<br>
    <% } %>
